li {
    list-style-type: none;
}

.menu-list {
    padding: 0;
    margin: 0 20px 0 0;
}

.menu-item {
    margin: 10px;   
}

.menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;  
    font-size: 16px;
}


.menu-link img {
    margin-right: 10px; 
    width: 30px;
}








.menu-link.active {
    animation: popUp 0.5s ease forwards;
}

@keyframes popUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
